#scroll-div{
    position: absolute;
    border: 5px solid gray;
    padding: 5px;
    background: white;
    width: 300px;
    height: 400px;
    overflow-y: scroll !important;
}

#test-div{
    float:right;
    margin-bottom:20px;
}

